<div class="content">

  <div class="menu container">
      <p class="logo">menu</p>
      



          <nav class="navbar">
          
              <ul class="lista-menu">
          
                  <li> <a href="index.html">inicio</a></li>    
                  <li> <a href="servicios.html">servicios</a></li>
                  <li> <a href="barberos.html">barberos</a></li>
                  <li> <a href="galeria.html">galeria</a></li>
                  <li> <a href="reserva.html">reserva</a></li>
                  <li> <a href="productos.html"> productos </a> </li>
              
              </ul>        
          </nav>    
      </div>      